<header class="main-header">
  <button class="hamburger" data-on:click="$sidebarOpen = !$sidebarOpen" aria-label="Menu">
    <span class="icon icon-open-menu"></span>
  </button>
  <div class="header-title">Rama Platform</div>
  <div class="theme-switch-wrapper">
    <div class="theme-switch" data-on:click="$lightMode = !$lightMode">
      <div class="slider" data-class:checked="$lightMode">
        <span class="icon icon-moon switch-icon" role="img" aria-hidden="true"></span>
        <span class="icon icon-sun switch-icon" role="img" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</header>
