<ul class="sidebar-menu">
    <li
        class="menu-item"
        data-class:active="$activePage === 'overview'"
        data-on:click="$activePage = 'overview'; @get('/home/overview')"
    >
        <span
            class="icon icon-view-grid"
            role="img"
            aria-hidden="true"
        ></span>
        <span class="nav-label" data-text="$nav_overview"></span>
    </li>
    <li
        class="menu-item"
        data-class:active="$activePage === 'movies'"
        data-on:click="$activePage = 'movies'; @get('/home/movies')"
    >
        <span
            class="icon icon-video"
            role="img"
            aria-hidden="true"
        ></span>
        <span class="nav-label" data-text="$nav_movies"></span>
    </li>
    <li
        class="menu-item"
        data-class:active="$activePage === 'series'"
        data-on:click="$activePage = 'series'; @get('/home/series')"
    >
        <span
            class="icon icon-tv"
            role="img"
            aria-hidden="true"
        ></span>
        <span class="nav-label" data-text="$nav_series"></span>
    </li>
</ul>
